<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appverlag.kf.kftools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:label="@string/app_name">

        <provider
            android:name=".other.KFFileProvider"
            android:authorities="${applicationId}.kftools.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>

        <activity
            android:name=".permission.KFRunntimePermissionManagerActivity"
            android:theme="@style/kftools.Theme.Transparent"/>

    </application>

</manifest>
